@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --background-color: #3A3A3F;
    --sidebar-background-color: #2c2c2ce0;
    --white-color: #fff;
    --bottom-nav-bg-color: linear-gradient(233.34deg, #FFE1DA 19.71%, #FFFFFF 72.76%);
    --hover-bg-color: rgba(255, 255, 255, 0.1);
    --purple-btn-bg-color: rgba(138, 7, 240, 1);
    --button-hover-bg-color: rgb(108, 6, 185);
    ;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 10px 20px;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .contact {
    max-width: 1285px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
}

nav .contact span {
    margin-right: 10px;
}

nav .contact .social-icons a {
    color: var(--white-color);
    margin-right: 10px;
}

.bottom-nav {
    width: 100%;
    background: var(--bottom-nav-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav .in {
    margin: 0 20px;
    padding: 18px 0;
    width: 100%;
    max-width: 1285px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav .in .logo img {
    height: 40px;
}

.bottom-nav .in .nav-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

/*  */

.bottom-nav .in .nav-links li a {
    color: var(--background-color);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: .3s ease;
}

.bottom-nav .in .nav-links li {
    position: relative;
}

.bottom-nav .in .nav-links li a:not(.btn):not(.sign-in)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--purple-btn-bg-color);
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-nav .in .nav-links li a:not(.btn):not(.sign-in):hover::after {
    width: 100%;
}

.bottom-nav .in .nav-links li a:not(.btn):not(.sign-in):hover {
    color: var(--purple-btn-bg-color);
}


.bottom-nav .in .nav-links li a.btn {
    background-color: var(--purple-btn-bg-color);
    border-radius: 20px;
    color: var(--white-color);
}
.bottom-nav .in .nav-links li a.btn:hover {
    background: var(--button-hover-bg-color);
  }

.bottom-nav .in .nav-links li a.sign-in {
    color: var(--purple-btn-bg-color);
}

.bottom-nav .in .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.close-sidebar {
    display: none;
}

.close-sidebar button {
    background: none;
    border: none;
    font-size: 30px;
    color: var(--white-color);
    cursor: pointer;
}

@media (max-width: 1000px) {
    .bottom-nav .in .nav-links li a {
        padding: 5px 10px;
    }
}

@media (max-width: 790px) {
    .bottom-nav .in .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background: var(--sidebar-background-color);
        backdrop-filter: blur(1px);
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .bottom-nav .in .nav-links.open {
        transform: translateX(0);
    }

    .bottom-nav .in .nav-links li a {
        color: var(--white-color);
    }
    .bottom-nav .in .nav-links li a.sign-in {
        color: var(--white-color);
    }

    .bottom-nav .in .hamburger {
        display: block;
        color: var(--background-color);
    }

    .close-sidebar {
        display: flex;
        position: absolute;
        top: 10px;
        left: 0;
    }

    .bottom-nav .in .nav-links li {
        margin-top: .5rem;
    }
}

@media (max-width: 500px) {
    nav .contact {
        flex-direction: column;
    }
}