@import '../variables';

.service-banner {
    position: relative;
    height: 480px;
    width: 100%;
    opacity: .9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $base-banner-blend-color;
        mix-blend-mode: multiply;
        z-index: -1;
        pointer-events: none;
    }

    .inr {
        height: 100%;
        margin-top: 8rem;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        align-items: center;

        .bnr-heading {
            position: relative;
            width: fit-content;
            margin: .2rem;

            .img {
                position: absolute;
                top: 10%;
                right: -18%;
                width: 350px;
            }
        }

        p {
            font-size: 20px;
            font-weight: 472;
            color: $white-color;
            text-align: center;
            margin-top: 2rem;
        }
    }
}

.in {
    width: 100%;
    max-width: 1285px;
    margin: 0 auto;
}


// Services

.services1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 -13rem 0;

    h2 {
        position: relative;
        width: fit-content;
        font-size: 2rem;

        img {
            position: absolute;
            width: 300px;
            top: 8%;
            right: -8%;
        }
    }

    .cards2 {
        display: grid;
        z-index: 3;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        grid-gap: 40px;
        margin: 3rem 0 4rem 0;

        .card2 {
            padding: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            cursor: pointer;
            transition: .5s ease;
            background: $white-color;
            box-shadow: 0px 11px 28px -1px #0000001f;

            &:hover {
                background: $white-btn-hover-color;
            }

            &:nth-child(2n) {
                box-shadow: -40px -40px 154px -59px rgba(239, 85, 50, 0.479);
            }

            .head1 {
                display: flex;
                height: auto;

                h2 {
                    margin-left: 2ch;
                    font-size: 23px;
                    color: $black-text-color;
                    font-weight: 500;
                }

                .imgs1 {
                    position: relative;
                    height: 61px;
                    width: 70px;

                    .main1 {
                        position: absolute;
                        z-index: 1;
                        left: 10%;
                    }

                    .shadow1 {
                        position: absolute;
                        left: 0;
                        bottom: -10%;
                    }
                }
            }

            p {
                color: $gray-text-color;
                font-size: 14px;
                font-weight: 410;
                margin-top: 1rem;
            }
        }
    }
}

// 

.get-in-touch {
    position: relative;
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 2rem 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../Assets/GetinTouchBg.png');

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .9;
        z-index: -1;
        background: $get-in-touch;
        mix-blend-mode: multiply;
        pointer-events: none;
    }

    .inr {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .heading {
            font-size: 62px;
            font-weight: 472;
            text-align: center;
            margin-top: 13rem;
            color: $black-text-color;
        }

        .subheading {
            font-size: 32px;
            text-align: center;
            font-weight: 472;
            color: $black-text-color;
        }
    }

}

@media screen and (max-width: 1294px) {
    .services1 .cards2 {
        margin: 3rem 2rem 4rem 2rem;
    }
}

@media screen and (max-width: 780px) {
    .service-banner .inr {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {

    .service-banner {
        height: 550px;

        .inr {
            margin-top: 13rem;



            .bnr-heading {
                font-size: 30px;

                .img {
                    width: 283px;
                    top: 12%;
                }
            }

            p {
                font-size: 19px;
            }
        }
    }

    .services1 .card2 {
        padding: 2rem;

        .head1 h2 {
            font-size: 20px;
        }
    }

    .get-in-touch .inr {
        .heading {
            font-size: 35px;
        }

        .subheading {
            font-size: 14px;
        }
    }

}

@media screen and (max-width:437px) {

    .services1 .cards2 {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

        .head1 {
            height: auto;
        }
    }
}

@media screen and (max-width: 380px) {
    .service-banner .inr {
        width: 95%;
    }
}