@import '../variables';

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 1285px;
    justify-content: center;
}

.home-slider {
    margin-top: 8rem;
    position: relative;
    height: 480px;
    width: 100%;
    opacity: .9;
    background-image: url("../../Assets/BannerBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $base-banner-blend-color;
        mix-blend-mode: multiply;
        z-index: 1;
        pointer-events: none;
    }

    .inr {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        align-items: center;

        .bnr-heading {
            position: relative;
            width: fit-content;
            margin: .2rem;

            .img {
                position: absolute;
                top: 0;
                right: 0;
                width: fit-content;
            }
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 4rem 0 4rem 0;

    .card {
        height: 100%;
        padding: 1.5rem;
        background: $white-color;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        box-shadow: 1px 10px 31px -3px rgba(0, 0, 0, 0.137);

        &:nth-child(1) {
            box-shadow: -72px 38px 108px -37px rgba(239, 85, 50, 0.479);
        }

        &:nth-child(2) {
            box-shadow: 88px 50px 108px -37px rgba(239, 85, 50, 0.479);
        }

        h2 {
            color: var(--card-heading-text-color);
            font-size: 22px;
            font-weight: 475;
        }

        p {
            color: var(--card-paragraph-text-color);
            font-weight: 400;
            text-align: center;
            font-size: 14px;
            margin-top: 1rem;
        }
    }
}

.home-about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-company {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;

        .lft {
            display: flex;
            width: 48%;
            height: 100%;
            padding: 1rem;
            justify-content: space-between;
            flex-direction: column;

            h2 {
                color: $black-text-color;
                font-size: 2rem;
                position: relative;
                width: fit-content;
                font-weight: 472;

                img {
                    position: absolute;
                    top: 10%;
                    width: 300px;
                    right: -8%;
                }
            }

            p {
                color: $black-text-color;
                font-size: 14px;
                margin-top: 1rem;
                font-weight: 417;
            }

            button {
                width: fit-content;
                margin-top: 1rem;
            }
        }

        .rht {
            width: 40%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 1.5rem;

            .top {
                position: absolute;
                width: 127px;
                height: 127px;
                top: 0;
                left: 0;
            }

            .bottom {
                position: absolute;
                bottom: 0;
                width: 214px;
                height: 214px;
                right: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    h2 {
        position: relative;
        width: fit-content;
        font-size: 2rem;

        img {
            position: absolute;
            width: 300px;
            top: 8%;
            right: -8%;
        }
    }

    .cards1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        grid-gap: 40px;
        margin: 3rem 0 4rem 0;

        .card1 {
            padding: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background: $white-color;
            cursor: pointer;
            transition: .5s ease;
            box-shadow: 0px 11px 28px -1px #0000001f;

            &:hover{
                background: $white-btn-hover-color;
            }

            &:nth-child(2n) {
                box-shadow: -40px -40px 154px -59px rgba(239, 85, 50, 0.479);
            }

            .head {
                display: flex;
                height: auto;

                h2 {
                    margin-left: 2ch;
                    font-size: 23px;
                    color: $black-text-color;
                    font-weight: 500;
                }

                .imgs {
                    position: relative;
                    height: 61px;
                    width: 70px;

                    .main {
                        position: absolute;
                        z-index: 1;
                        left: 10%;
                    }

                    .shadow {
                        position: absolute;
                        left: 0;
                        bottom: -10%;
                    }
                }
            }

            p {
                color: $gray-text-color;
                font-size: 14px;
                font-weight: 410;
                margin-top: 1rem;
            }
        }
    }
}

.help {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background: url('../../Assets/picofgirl.png');
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $help-bg-color;

    .inr {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 1.5rem;
        margin: 2rem 2rem;

        h2 {
            font-size: 32px;
            font-weight: 544;
            color: $white-color;
            position: relative;

            img {
                position: absolute;
                width: 250px;
                right: -5%;
                top: 0;
            }
        }

        .btns {
            display: flex;
            gap: 2rem;

            button {
                display: flex;
                align-items: center;
                gap: .3rem;
                background: $white-color;
                color: $purple-btn-bg-color;

                &:hover {
                    background: $white-btn-hover-color;
                }
            }
        }
    }
}

.pink-bg {
    width: 100%;
    background: $pink-background;
}

.our-work {
    width: 100%;
    max-width: 1285px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 32px;
        position: relative;
        font-weight: 472;
        color: $black-text-color;

        img {
            position: absolute;
            top: 12%;
            right: -5%;
            width: 250px;
        }
    }

    p {
        font-size: 17px;
        color: $black-text-color;
        font-weight: 500;
    }

    .list {
        width: 100%;
        margin-top: 2rem;
        padding: 0 2rem;

        .book {
            overflow: hidden;
            height: 100%;
            object-fit: contain;
            width: 100%;
            background: $white-color;
            padding: 1rem;
        }
    }
}

// Carousel
.owl-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 40%;
    font-size: 3rem;
}

.owl-stage {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.authors {
    width: 100%;
    margin: 0 auto;
    max-width: 1285px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        position: relative;
        font-size: 32px;
        font-weight: 472;
        margin-bottom: 2rem;

        img {
            position: absolute;
            top: 12%;
            right: -5%;
            width: 250px;
        }
    }

    .authors-list {
        width: 100%;
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 40px;
        padding: 0 2rem;

        .author {
            height: 100%;
            padding: 1rem;

            .img-container {
                position: relative;
                height: fit-content;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    transition: 0.3s ease;
                }

                .social-icons {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    gap: 10px;
                    opacity: 0;
                    transition: 0.5s ease;

                    svg {
                        font-size: 50px;
                        padding: .5rem;
                        display: flex;
                        cursor: pointer;
                        background: $social-icn-background-color;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        color: $white-color;
                    }
                }

                &:hover .social-icons {
                    opacity: 1;
                }

                &:hover img {
                    box-shadow: 2px 3px 20px -10px $base-black-color;
                }
            }

            .name {
                font-size: 20px;
                color: $black-text-color;
                font-weight: 500;
                margin-top: .5rem;
            }

            .role {
                font-size: 18px;
                color: $base-gray-color;
                font-weight: 500;
            }
        }
    }
}

.author-says {
    width: 100%;
    position: relative;
    background: url("../../Assets/Bgimg.jpg") no-repeat center center;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $background-color;
        mix-blend-mode: multiply;
        pointer-events: none;
    }

    .in {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1285px;
        margin: 0 auto;
        padding: 3rem 2rem;

        .inr {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            h2 {
                position: relative;
                font-size: 32px;
                font-weight: 472;
                color: $white-color;
                margin-bottom: 2rem;

                img {
                    position: absolute;
                    top: 15%;
                    right: -5%;
                    width: 280px;
                }
            }

            .quote {
                height: fit-content;
                width: 50px;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                margin-top: 1.5rem;
                color: $white-color;
                text-align: center;
            }

            .author-name {
                font-size: 22px;
                font-weight: 500;
                color: $white-color;
            }

            .stack {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                margin-bottom: 3rem;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }


}

// Carousel
.carousel-root {
    outline: none;
    width: 100%;
}

.carousel.carousel-slider .control-arrow {
    top: 48%;
    height: fit-content;
    font-size: 28px;
}

.enquire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1285px;
    margin: 0 auto;
    padding: 0 2rem;

    h2 {
        font-size: 32px;
        position: relative;
        font-weight: 472;
        margin-top: 3rem;
        color: $black-text-color;

        img {
            position: absolute;
            top: 12%;
            right: -5%;
            width: 250px;
        }
    }

    p {
        font-size: 17px;
        color: $black-text-color;
        text-align: center;
        font-weight: 500;
    }

    .form {
        width: 100%;
        display: flex;
        margin: 2rem 0 -13rem 0;


        .lft {
            width: 55%;
            background: url('../../Assets/Formimg.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .rht {
            width: 45%;
            height: 100%;
            background-color: $white-color;
            position: relative;
            padding: 3rem 5rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url('../../Assets/rhtformimg.png') no-repeat center center;
                background-size: cover;
                opacity: .2;
                z-index: 1;
            }

            .enquire-form {
                padding: 2rem;
                background: $white-color;
                display: flex;
                gap: 1rem;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                border-radius: 10px;
                box-shadow: 0px 4px 4px 0px $form-box-shadow;
                z-index: 2;

                .error{
                    font-size: 11px;
                    color: red;
                    margin: 0;
                    padding: 0;
                }

                h2 {
                    font-size: 22px;
                    margin-top: 0;
                    font-weight: 500;
                    color: $black-text-color;
                }

                input {
                    width: 100%;
                    border: 1px solid $input-border-color;
                    padding: .5rem;
                    border-radius: 4px;
                    outline: none;
                    background: none;

                    &:focus {
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                }

                textarea {
                    width: 100%;
                    border-color: $input-border-color;
                    padding: .5rem;
                    min-height: 80px;
                    outline: none;
                    border-radius: 4px;

                    &:focus {
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                }

                button {
                    border-radius: 4px;
                }
            }
        }
    }
}

.popularity {
    width: 100%;
    background: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .inr {
        width: 100%;
        max-width: 1285px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 18rem 2rem 3rem 2rem;

        .stack {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 74px;
                font-weight: 762;
                color: $bold-number-color;
            }

            p {
                font-size: 21px;
                font-weight: 600;
                color: $orange-paragraph-text-color;
            }
        }

        .stack:nth-child(1) {
            align-items: flex-start;
        }

        .stack:nth-child(4) {
            align-items: flex-end;
        }
    }
}

@media screen and (min-width: 2237px) {
    .home-slider .inr .bnr-heading .img {
        right: -5%;
        width: 340px;
    }
}

@media screen and (max-width: 1334px) {
    .cards {
        margin: 2rem 2rem 4rem 2rem;
    }

    .home-about .about-company {
        margin: 2rem 2rem;
    }
}

@media screen and (max-width: 1294px) {
    .home-about .about-company .rht img {
        width: 100%;
        height: 100%;
    }

    .services .cards1 {
        margin: 3rem 2rem 4rem 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .home-about .about-company .rht .top {
        width: 73px;
        height: 73px;
    }

    .home-about .about-company .rht .bottom {
        width: 160px;
        height: 160px;
    }

    .home-about .about-company .rht {
        width: 50%;
    }

    .enquire .form {
        .lft {
            width: 50%;
        }

        .rht {
            width: 50%;
        }
    }

    .popularity .inr .stack h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 870px) {
    .home-slider .inr .bnr-heading .img {
        position: absolute;
        top: 0;
        right: -2%;
        width: fit-content;
    }

    .help .inr {
        width: 80%;
    }

    .author-says .in .inr {
        width: fit-content;
    }

    .popularity .inr {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 855px) {
    .home-about .about-company {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 2rem;

        .rht,
        .lft {
            width: 100%;
        }
    }
}

@media screen and (max-width: 825px) {
    .enquire .form .lft {
        display: none;
    }

    .enquire .form .rht {
        width: 100%;

    }
}

@media screen and (max-width: 780px) {
    .home-slider {
        height: fit-content;
        padding: 50px 0px;

        .inr {
            width: 75%;
        }
    }

    .our-work {
        padding: 3rem 2rem;

        h2 {
            font-size: 30px;

            img {
                position: absolute;
                top: 12%;
                right: -5%;
                width: 250px;
            }
        }

        .list {
            padding: 0 0rem;
        }
    }

    .authors h2 {
        font-size: 30px;
    }

    .owl-nav {
        bottom: 30%;
        font-size: 3rem;
    }

    .author-says .in .inr h2 {
        font-size: 30px;
    }

    .enquire h2 {
        font-size: 30px;

        img {
            width: 200px;
            top: 20%;
        }
    }
}

@media screen and (max-width: 544px) {
    .help .inr {
        width: 90%;
    }

    .author-says .in .inr .stack {
        width: 90%;

        img {
            height: 60px;
        }

        img:nth-child(2) {
            height: 90px;
        }
    }

    .authors .authors-list .author {

        .name,
        .role {
            text-align: center;
        }

        .img-container {
            height: 300px;
        }
    }

}

@media screen and (max-width: 500px) {
    .services .card1 .head h2 {
        font-size: 20px;
    }

    .services .card1 {
        padding: 2rem;
    }

    .home-slider {
        margin-top: 11rem;
    }

    .enquire .form .rht {
        width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 478px) {
    .help .inr {
        width: 100%;
        margin: 2rem 0;
        padding: 2rem;

        .btns {
            flex-direction: column;
            gap: 2rem;
        }
    }

    .enquire h2 {
        font-size: 28px;
    }

    .popularity .inr {
        grid-template-columns: 1fr;
        gap: 1rem;

        .stack:nth-child(1) {
            align-items: center;
        }

        .stack:nth-child(4) {
            align-items: center;
        }
    }
}

@media screen and (max-width: 437px) {
    .home-about .about-company .lft h2 {
        font-size: 1.5rem;

        img {
            top: 15%;
            width: 200px;
        }
    }

    .services .cards1 {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .services .cards1 .head {
        height: auto;
    }

    .author-says .in .inr h2 {
        font-size: 23px;

        img {
            width: 200px;
        }
    }

    .enquire .form .rht {
        padding: 1rem;
    }
}

@media screen and (max-width: 435px) {
    .enquire h2 img {
        right: 10%;
        top: 7%;
        width: 220px;
    }

    .enquire h2 {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .home-slider {
        padding: 50px 10px;

        .inr {
            width: 90%;
        }
    }

    .home-about .about-company .lft button {
        font-size: 13px;
    }

    .home-about .about-company .rht .top {
        width: 60px;
        height: 60px;
    }

    .home-about .about-company .rht .bottom {
        width: 110px;
        height: 110px;
    }
}

@media screen and (max-width: 386px) {
    .enquire h2 img {
        right: -1%;
        top: 7%;
        width: 220px;
    }
}

@media screen and (max-width: 350px) {
    .home-about .about-company .lft h2 {
        font-size: 1.4rem;
    }

    .authors h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 343px) {
    .enquire h2 img {
        right: 10%;
    }
}