@import '../variables';

.bookprint-details {
    width: 100%;
    display: flex;
    padding: 2rem 0 5rem 0;
    flex-direction: column;

    h2 {
        position: relative;
        width: fit-content;
        font-size: 18px;
        font-weight: 400;
        color: $black-text-color;
        margin-top: 1.5rem;


        img {
            position: absolute;
            width: 200px;
            right: -10%;
        }
    }

    p {
        font-size: 14px;
        font-weight: 500;
        margin-top: 1rem;
        line-height: 25.56px;
        color: $black-text-color;
    }
}