@import '../variables';


.auth_container {
    max-width: 1285px;
    width: 100%;
    margin: 5rem auto 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;

    .auth_data {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            height: auto;
            margin: auto;
            max-width: 260px;
        }

        .name {
            color: $black-text-color;
            padding: 1rem;
            font-size: 20px;
            margin-bottom: 0;
        }

        .details {
            color: $gray-text-color;
            padding: 0 1rem .5rem 1rem;
            font-size: 12px;
        }

        .see_more {
            padding: .3rem 1rem;
            font-size: 15px;
        }
    }
}

.author_details_container {
    .details_section {
        max-width: 1285px;
        margin: auto;
        display: flex;
        width: 100%;
        padding-top: 8rem;

        .lft {
            flex: .3;
            justify-content: center;
            display: flex;
            gap: .8rem;
            align-items: center;
            flex-direction: column;

            img {
                width: 150px;
                object-fit: cover;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                border: 5px solid $purple-btn-bg-color;
                filter: drop-shadow(2px 2px 3px rgb(94, 93, 93));
            }

            .name {
                font-size: 23px;
                color: $black-text-color;
            }
        }


        .details_part {
            flex: .5;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .details {
                font-size: 13px;
                color: $gray-text-color;
            }
        }
    }
}

@media screen and(max-width:694px) {
    .author_details_container {
        padding: .5rem;
        .details_section {
            flex-direction: column;
        }
    }
}
@media screen and(max-width:500px) {
    .auth_container {
        padding: .5rem;
    }
    .author_details_container .details_section {
        padding-top: 12rem;
    }
}
